<%- include('../includes/head') %>
        <link rel="stylesheet" href="/css/login.css">
    </head>
    <body>
        <%- include('../includes/header') %>

        <main id="main">
            <div class="container">
                <h3 class="py-3 text-center">Forgot Password</h3>
                <form class="form" action="/auth/forgot-password" method="POST">
                    <% if (errorMessage) { %>
                        <div class="alert alert-danger" role="alert"><%= errorMessage %></div>
                    <% } %>
                    <div class="mb-3">
                        <label class="form-label" for="password">Email</label>
                        <input class="form-control" id="email" type="email" name="email" placeholder="Email">
                    </div>
                    
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                    <button class="btn btn-primary" type="submit">Submit Reset Request</button>
                </form>
                
            </div>
        </main> 
    </body>
<%- include('../includes/end') %>