<%- include('../includes/head') %>
        <link rel="stylesheet" href="/css/login.css">
    </head>
    <body>
        <%- include('../includes/header') %>

        <main id="main">
            <div class="container">
                <h3 class="py-3 text-center">Forgot Password</h3>
                <form class="form" action="/auth/new-password" method="POST">
                    <% if (errorMessage) { %>
                        <div class="alert alert-danger" role="alert"><%= errorMessage %></div>
                    <% } %>
                    <div class="mb-3">
                        <label class="form-label" for="password">New Password</label>
                        <input class="form-control" id="password" type="password" name="newPassword" placeholder="Change your password">
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="confirmNewPassword">Confirm New Password</label>
                        <input class="form-control" id="confirmNewPassword" type="password" name="confirmNewPassword" placeholder="Confirm new password">
                    </div>
                    
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                    <input type="hidden" name="token" value="<%= token %>" />
                    <input type="hidden" name="userId" value="<%= userId %>" />
                    <button class="btn btn-primary" type="submit">Update Password</button>
                </form>
                
            </div>
        </main> 
    </body>
<%- include('../includes/end') %>