<%- include('../includes/head') %>
        <link rel="stylesheet" href="/css/create-product.css">
    </head>
    <body>
        <%- include('../includes/header') %>

        <main id="main">
            <div class="container">
                <h3 class="py-3 text-center">Create Product</h3>
                <form class="form" action="/admin/create-product" method="POST" enctype="multipart/form-data">
                    <% if (errorMessage) { %>
                        <div class="alert alert-danger" role="alert"><%= errorMessage %></div>
                    <% } %>
                    <div class="mb-3">
                        <label class="form-label" for="title">Title</label>
                        <input value="<%= oldInput.title %>" class="form-control" id="title" type="text" name="title" placeholder="Title">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="description">Description</label>
                        <textarea class="form-control" id="description" name="description" rows="5"><%= oldInput.description %></textarea>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="price">Price</label>
                        <input value="<%= oldInput.price %>" class="form-control" id="price" type="number" min="0" step="0.01" name="price" placeholder="Price">
                    </div>
                    <!-- <div class="mb-3">
                        <label class="form-label" for="image">Image URL</label>
                        <input class="form-control" id="image" type="text" name="image" placeholder="Image URL">
                    </div> -->
                    <div class="mb-3">
                        <label class="form-label" for="image">Image</label>
                        <input class="form-control" id="image" type="file" name="image">
                    </div>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                    <button class="btn btn-primary" type="submit">Add Product</button>
                </form>
            </div>
        </main> 
    </body>
<%- include('../includes/end') %>