<%- include('../includes/head') %>
        <link rel="stylesheet" href="/css/shop.css">
    </head>
    <body>
        <%- include('../includes/header') %>

        <main>
            <div class="container"> 
                <h3 class="py-3">My Products</h3>
                <% if(products.length > 0) { %>
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <% for(let item of products) { %>
                            <div class="col">
                                <div class="card" style="width: 18rem; height: auto;">
                                    <img class="card-img-top" style="height: 15rem; object-fit:cover" src="/<%= item.imageURL %>" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title"><%= item.title %></h5>
                                        <p class="card-text"><%= item.description %></p>
                                        <p class="text-muted lead">$<%= item.price %></p>
                                        <a class="btn btn-primary" href="/admin/update-product/<%= item.id %>">Edit</a>
                                        <!-- <form style="display: inline-block;" action="/admin/delete-product/<%= item.id %>" method="POST"> -->
                                            <!-- <input type="hidden" name="_csrf" value="<%= csrfToken %>" /> -->
                                            <!-- <button type="submit" class="btn btn-danger">Delete</button> -->
                                        <!-- </form> -->
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                                        <input type="hidden" name="productId" value="<%= item.id %>" />
                                        <button id="deleteProduct" onclick="deleteProduct(this)" type="button" class="btn btn-danger">Delete</button>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    </div>
                <% } else { %>
                    <div class="row">No Products Found</div>
                <% }%>
            </div>
        </main>
<%- include('../includes/end') %>
<script src="/js/admin.js"></script>