<%- include('../includes/head') %>
        <link rel="stylesheet" href="/css/shop.css">
    </head>
    <body>
        <%- include('../includes/header') %>

        <main>
            <div class="container"> 
                <div class="row"><h3 class="py-3 px-0">My Products</h3></div>
                
                <% if(products.length > 0) { %>
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <% for(let item of products) { %>
                            <div class="col">
                                <div class="card" style="width: 18rem; height: auto;">
                                    <img class="card-img-top" style="height: 15rem; object-fit:cover" src="<%= item.imageURL %>" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title"><%= item.title %></h5>
                                        <p class="card-text"><%= item.description %></p>
                                        <p class="text-muted lead">$<%= item.price %></p>
                                        <a class="btn btn-primary" href="/product-details/<%= item.id%>">Details</a>
                                        <form action="/add-to-cart/<%= item.id%>" method="POST" style="display: inline-block;">
                                            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                                            <button type="submit" class="btn btn-primary" href="#">Add to Cart</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    </div>
                <% } else { %>
                    <h5 class="row">No Products Found</h5>
                <% }%>
            </div>
        </main>
<%- include('../includes/end') %>