<%- include('../includes/head') %>
        <link rel="stylesheet" href="/css/shop.css">
    </head>
    <body>
        <%- include('../includes/header') %>

        <main>
            <div class="container"> 
                <h3 class="py-3">Product Details</h3>
                <% if(product) { %>
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col m-auto">
                            <div class="card" style="width: 18rem; height: auto;">
                                <img class="card-img-top" style="height: 15rem; object-fit:cover" src="<%= product.imageURL %>" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title"><%= product.title %></h5>
                                    <p class="card-text"><%= product.description %></p>
                                    <p class="text-muted lead">$<%= product.price %></p>
                                    <a class="btn btn-primary" href="#">Add to Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }%>
            </div>
        </main>
<%- include('../includes/end') %>